<<<<<<< HEAD
<div class="container">
    <div class="row profile">
		
</div>		
</div>
=======

<form action="/profile/submit" method ="post" enctype="multipart/form-data">

		<h3>{{viewTitle}}</h3>

    <input type="hidden" name="_id" value="{{profile._id}}">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="FirstName" placeholder="First Name" value="{{profile.FirstName}}">
       
    </div>

	
    <input type="hidden" name="_id" value="{{profile._id}}">
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="LastName" placeholder="Last Name" value="{{profile.LastName}}">
       
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" placeholder="Email" value="{{profile.Email}}">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Phone</label>
            <input type="text" class="form-control" name="Phone" placeholder="Phone" value="{{profile.Phone}}">
        </div>
        <div class="form-group col-md-6">
            <label>Resume</label>
            <input type="file" class="form-control" name="avatar" placeholder="Resume" value="{{profile.fileUrl}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="eagle-db"></i> Submit</button>
        <a class="btn btn-secondary" href="/profile"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
>>>>>>> 874935140a7c50fbab0bf907d8f6beff2162c2bc
